/* based on trystyle.css of w3schools.com */

body {
    font-family: verdana;
    font-size: 14px;
}

.container {
    background-color:#f1f1f1;
    width:100%;
    overflow:auto;
    position:absolute;
    top:100px;
    bottom:0;
    height:auto;
    min-height:250px;
    min-width:550px;
}

#codeContainer {
  width:50%;
  float:left;
}

.resultContainer {
  width:40%;
  float:left;
}

.containerTitle {
  font-size: 24px;
  margin-top: 15px;
  margin-left: 15px;
  color: #444444;
}

.code {
  background-color:#ffffff;
  padding:15px;
  margin:15px;
  margin-top: 5px;
  font-family: Consolas, 'Courier New', Courier, monospace;
  font-size: 16px;
}

#propertyTitle {
  margin-top: 0;
  margin-left: 0;
}

.pfooter {
  margin: 15px;
}
.codeContainer .radio {
  line-height:2;
}

#resultView {
  font-family: consolars, Courier new;
  font-size: 14px;  
  margin-left: 10px;
  margin-top: 5px;
  margin-right: 15px;
  background-color: #ffffff;
  height: 200px;
}

#currentCode {
  font-family: consolas, Courier new;
  font-size: 14px;
  
  margin-left: 10px;
  margin-right: 15px;
  background-color: #ffffff;
  padding: 10px;
  color: #222222;
  text-align: left;  
}

#resultDIV {
    margin-left: 10px;
    margin-top: 3px;
    margin-right: 15px;
    background-color: #ffffff;
    height: 200px;
}

#demoDIV {
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
}

#enlargecssprop {
    font-weight: bold;
    color: #000000;
}


